* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
}

body {
  background-color: #3695b1;
  background-image: url('./tv-room.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  display: grid;
  justify-content: center
}

.title {
  justify-self: center;
  color: white;
  font-size: 2rem;
  font-weight: 900;
  text-shadow: 0rem 0rem 1rem black;
  margin-top: 1rem;
}

.container {
  backdrop-filter: blur(3px);
  display: grid;
  width: fit-content;
  grid-template-rows: auto;
  color: white;
  box-shadow: 0rem 0rem 1rem black;
  border-radius: 12px;
  padding: 2rem;
  margin-top: 2rem;
}
  
label {
  margin-bottom: .2rem;
  text-shadow: 0px 0px 10px black;
}

.input-container {
  width: 15rem;
  margin-bottom: .3rem;
  align-content: center;
}

.password-show-input-container {
  display: flex;
  width: fit-content;
  margin-bottom: .3rem;
  align-content: center;
}

input, select {
  width: 100%;
  text-indent: 1rem;
  background-color: white;
  border:.2rem solid rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: 0rem 0rem .2rem black;
  outline: none;
  box-sizing: border-box;
}

input:focus:invalid, 
select:focus:invalid {
  border-color: rgb(228, 85, 85);
  box-shadow: 0rem 0rem .2rem rgb(228, 85, 85);
  border-radius: 5px 5px 0 0;
}

input:valid, 
select:valid {
  border-color: rgb(85, 228, 104);
  box-shadow: 0rem 0rem .2rem rgb(85, 228, 104);
}

.password-error-container {
  margin-bottom: .1rem;
  border-radius: 0 0 5px 5px;
}

.input-error {
  width: 100%;
  text-align: center;
  font-size: 1rem;
  color: white;
  background-color: rgb(228, 85, 85);
  padding: .2rem;
  box-sizing: border-box;
}

.password-input-error {
  text-align: start;
  border-top: .1rem solid black;
}

button[type='submit'] {
  width: 10rem;
  justify-self: center;
  align-self: center;
  color: white;
  border: .1rem solid #029bf4;
  border-radius: 5px;
  background-color: #2fa7ed;
}

button[type='submit']:hover {
  border: .1rem solid #0378bb;
  background-color: #0378bb;
}

.show-password {
  height: 2rem;
  width: 2rem;
  background-image: url(./eye-outline.svg);
  background-repeat: no-repeat;
  box-shadow: 0rem 0rem .2rem black;
  border: none;
  border-radius: 5px;
  margin-left: .1rem;
}

a {
  justify-self: center;
  font-size: .9rem;
  margin-top: 1rem;
}